table, tr, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 330px;
}

body{
    background-color: black
}

th {
    font-weight: normal;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
    margin-bottom: 50%;
    background-color: white;
    font-size: 18px;
    zoom: 130%;
    border-spacing: 8px;
}

caption {
    background-color: white;
    padding: 8px;
}

.tableThing {
}

table, td {
    padding: 0
}